{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{% trans "Free Online Games - TOP and New, Best and Recent" %}</title>
	<meta name="keywords" content="free online games, top, ranking, new, best, recent" />
	<meta name="description" content="What if the time for relax quite a bit, just five or ten minutes? Free online games is a great helper to pass such a short time!" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylei.css' %}">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="X-Juegos" />
</head>

<body>

<div id="wrapper">

	<div id="header">
		<img src="/img/x-juegos.png" alt="" class="lg0" width="110" height="100" />
		<h1>{% trans "FREE ONLINE GAMES" %}</h1><p>Header text here</p>
	</div>

	<div id="middle">

		<div id="container">
			<div id="content">
			<h2>SECTIONS</h2>
			<div class="thmb"><a title="Angry Birds" href="/games/angry-birds/"><img src="/img/cat/angry-birds.jpg" alt="ANGRY BIRDS" width="116" height="100" /><br />ANGRY BIRDS</a></div>
			<div class="thmb"><a title="Animals and pets care" href="/games/animals-care/"><img src="/img/cat/animal_care.jpg" alt="ANIMALS CARE" width="116" height="100" /><br />ANIMALS CARE</a></div>
			<div class="thmb"><a title="Bubble shooters, Lines and more" href="/games/balls/"><img src="/img/cat/balls.jpg" alt="BALLS" width="116" height="100" /><br />BALLS</a></div>
			<div class="thmb"><a title="Billiards" href="/games/billiards/"><img src="/img/cat/billiards.jpg" alt="BILLIARDS" width="116" height="100" /><br />BILLIARDS</a></div>
			<div class="thmb"><a title="Brain training games" href="/games/braintrain/"><img src="/img/cat/brain-trainers.jpg" alt="BRAIN TRAINERS" width="116" height="100" /><br />BRAIN TRAINERS</a></div>
			<div class="thmb"><a title="Bratz dolls" href="/games/bratz/"><img src="/img/cat/bratz.jpg" alt="BRATZ" width="116" height="100" /><br />BRATZ</a></div>
			<div class="thmb"><a title="Management and business games" href="/games/business/"><img src="/img/cat/business.jpg" alt="BUSINESS" width="116" height="100" /><br />BUSINESS</a></div>
			<div class="thmb"><a title="Card games" href="/games/cards/"><img src="/img/cat/cards.jpg" alt="CARDS" width="116" height="100" /><br />CARDS</a></div>
			<div class="thmb"><a title="Games for every day" href="/games/casual-games/"><img src="/img/cat/casual-games.jpg" alt="CASUAL GAMES" width="116" height="100" /><br />CASUAL GAMES</a></div>
			<div class="thmb"><a title="Christmas and New Year games" href="/games/christmas/"><img src="/img/cat/christmas.jpg" alt="CHRISTMAS" width="116" height="100" /><br />CHRISTMAS</a></div>
			<div class="thmb"><a title="Cooking games" href="/games/cooking/"><img src="/img/cat/cooking.jpg" alt="COOKING" width="116" height="100" /><br />COOKING</a></div>
			<div class="thmb"><a title="Check future, past and present" href="/games/divination/"><img src="/img/cat/divination.jpg" alt="DIVINATION" width="116" height="100" /><br />DIVINATION</a></div>
			<div class="thmb"><a title="Dressing up and hair styling" href="/games/dressup-n-hairstyle/"><img src="/img/cat/dressup-n-hairstyle.jpg" alt="DRESS UP AND HAIRSTYLE" width="116" height="100" /><br />DRESS UP AND HAIRSTYLE</a></div>
			<div class="thmb"><a title="Fighting" href="/games/fighting/"><img src="/img/cat/fighting.jpg" alt="FIGHTING" width="116" height="100" /><br />FIGHTING</a></div>
			<div class="thmb"><a title="Explore pictures to find the letters" href="/games/find-letters/"><img src="/img/cat/find-letters.jpg" alt="FIND LETTERS" width="116" height="100" /><br />FIND LETTERS</a></div>
			<div class="thmb"><a title="Explore pictures to find the numbers" href="/games/find-the-number/"><img src="/img/cat/find-the-number.jpg" alt="FIND THE NUMBER" width="116" height="100" /><br />FIND THE NUMBER</a></div>
			<div class="thmb"><a title="Explore letter mix to find the words" href="/games/find-words/"><img src="/img/cat/find-words.jpg" alt="FIND WORDS" width="116" height="100" /><br />FIND WORDS</a></div>
			<div class="thmb"><a title="Flying, climbing, turning, diving" href="/games/flying/"><img src="/img/cat/flying.jpg" alt="FLYING" width="116" height="100" /><br />FLYING</a></div>
			<div class="thmb"><a title="Using tablet or smartphone? Welcome into the world of free games for gadget! You have nothing to install - just open and play online." href="/games/for-tablet/"><img src="/img/cat/for-tablet.jpg" alt="FOR TABLET" width="116" height="100" /><br />FOR TABLET</a></div>
			<div class="thmb"><a title="Games for girls" href="/games/games-for-girls/"><img src="/img/cat/games-for-girls.jpg" alt="GAMES FOR GIRLS" width="116" height="100" /><br />GAMES FOR GIRLS</a></div>
			<div class="thmb"><a title="Funs, jokes, cartoons and more" href="/games/jokes-n-cartoons/"><img src="/img/cat/jokes-n-cartoons.jpg" alt="JOKES AND CARTOONS" width="116" height="100" /><br />JOKES AND CARTOONS</a></div>
			<div class="thmb"><a title="Games for kids" href="/games/kids-games/"><img src="/img/cat/kids-games.jpg" alt="KIDS GAMES" width="116" height="100" /><br />KIDS GAMES</a></div>
			<div class="thmb"><a title="Logical games" href="/games/logical/"><img src="/img/cat/logical.jpg" alt="LOGICAL GAMES" width="116" height="100" /><br />LOGICAL GAMES</a></div>
			<div class="thmb"><a title="Mahjong solitaire games" href="/games/mahjongs/"><img src="/img/cat/mahjongs.jpg" alt="MAHJONGS" width="116" height="100" /><br />MAHJONGS</a></div>
			<div class="thmb"><a title="Makeup and styling" href="/games/makeup-n-jewelry/"><img src="/img/cat/makeup-n-jewelry.jpg" alt="MAKEUP AND JEWELRY" width="116" height="100" /><br />MAKEUP AND JEWELRY</a></div>
			<div class="thmb"><a title="Games with stars of Monster High University" href="/games/monster-high/"><img src="/img/cat/monster-high.jpg" alt="MONSTER HIGH" width="116" height="100" /><br />MONSTER HIGH</a></div>
			<div class="thmb"><a title="Coloring picture templates" href="/games/painting/"><img src="/img/cat/painting.jpg" alt="PAINTING" width="116" height="100" /><br />PAINTING</a></div>
			<div class="thmb"><a title="Are you newby driver just recently got the license?" href="/games/parking/"><img src="/img/cat/parking.jpg" alt="PARKING" width="116" height="100" /><br />PARKING</a></div>
			<div class="thmb"><a title="Tower defense and similar games" href="/games/protection-n-defense/"><img src="/img/cat/protection-n-defense.jpg" alt="PROTECTION AND DEFENSE" width="116" height="100" /><br />PROTECTION AND DEFENSE</a></div>
			<div class="thmb"><a title="Jigsaw, combine items and other puzzles" href="/games/puzzles/"><img src="/img/cat/puzzles.jpg" alt="PUZZLES" width="116" height="100" /><br />PUZZLES</a></div>
			<div class="thmb"><a title="Resolve quests" href="/games/quests/"><img src="/img/cat/quests.jpg" alt="QUESTS" width="116" height="100" /><br />QUESTS</a></div>
			<div class="thmb"><a title="Racing games" href="/games/racing/"><img src="/img/cat/races.jpg" alt="RACES" width="116" height="100" /><br />RACES</a></div>
			<div class="thmb"><a title="RPGs, walking and arcade games" href="/games/rpgs-arcades/"><img src="/img/cat/rpgs-arcades.jpg" alt="RPGs AND ARCADES" width="116" height="100" /><br />RPGs AND ARCADES</a></div>
			<div class="thmb"><a title="Searching items" href="/games/search-items/"><img src="/img/cat/search-items.jpg" alt="SEARCH ITEMS" width="116" height="100" /><br />SEARCH ITEMS</a></div>
			<div class="thmb"><a title="Shooters" href="/games/shooters/"><img src="/img/cat/shooters.jpg" alt="SHOOTERS" width="116" height="100" /><br />SHOOTERS</a></div>
			<div class="thmb"><a title="Solitaires" href="/games/solitaires/"><img src="/img/cat/solitaires.jpg" alt="SOLITAIRES" width="116" height="100" /><br />SOLITAIRES</a></div>
			<div class="thmb"><a title="Sporting" href="/games/sports/"><img src="/img/cat/sports.jpg" alt="SPORTS" width="116" height="100" /><br />SPORTS</a></div>
			<div class="thmb"><a title="Searching for the difference" href="/games/spot-the-difference/"><img src="/img/cat/spot-the-difference.jpg" alt="SPOT THE DIFFERENCE" width="116" height="100" /><br />SPOT THE DIFFERENCE</a></div>
			<div class="thmb"><a title="Strategy and tactical games" href="/games/strategy/"><img src="/img/cat/strategy.jpg" alt="STRATEGY" width="116" height="100" /><br />STRATEGY</a></div>
			<div class="thmb"><a title="Tanks and tank battles" href="/games/tanks/"><img src="/img/cat/tanks.jpg" alt="TANKS AND TANK BATTLES" width="116" height="100" /><br />TANKS AND TANK BATTLES</a></div>
			<div class="thmb"><a title="Tetris" href="/games/tetris/"><img src="/img/cat/tetris.jpg" alt="TETRIS" width="116" height="100" /><br />TETRIS</a></div>
			<div class="thmb"><a title="Match 3 and more items puzzles" href="/games/3-in-row/"><img src="/img/cat/3-in-row.jpg" alt="THREE IN A ROW" width="116" height="100" /><br />THREE IN A ROW</a></div>
			<div class="thmb"><a title="Trucks and transport" href="/games/trucks/"><img src="/img/cat/trucks.jpg" alt="TRUCKS" width="116" height="100" /><br />TRUCKS</a></div>
			<div class="thmb"><a title="Games for two ore more players" href="/games/two-player-games/"><img src="/img/cat/two-player-games.jpg" alt="TWO PLAYER GAMES" width="116" height="100" /><br />TWO PLAYER GAMES</a></div>
			<div class="thmb"><a title="Small video clips" href="/games/video/"><img src="/img/cat/video.jpg" alt="VIDEO" width="116" height="100" /><br />VIDEO</a></div>
			<div class="thmb"><a title="Ball snake and ball gun" href="/games/zuma/"><img src="/img/cat/zuma.jpg" alt="ZUMA" width="116" height="100" /><br />ZUMA</a></div>
			<div class="cb"></div>
			<div class="hr_b"><a title="Games online" href="/games/">All online games</a></div>
			<p></p><p></p>
			<h2>NEW - RECENT</h2>
			<div class="thmb"><a title="MAHJONG DOS POSOS" href="/game/mahjong-dos-posos.html"><img src="/img/game/2l.jpg" alt="MAHJONG DOS POSOS" width="100" height="100" /><br />MAHJONG DOS POSOS</a></div>
			<div class="thmb"><a title="MAHJONG FLETAN" href="/game/mahjong-fletan.html"><img src="/img/game/1l.jpg" alt="MAHJONG FLETAN" width="100" height="100" /><br />MAHJONG FLETAN</a></div>
			<div class="cb"></div>
			<div class="hr_g"><a title="All new games" href="/new-games/">New games</a></div>
			<p></p><p></p>
			<h2>TOP - BEST</h2>
			<div class="thmb"><a title="MAHJONG FLETAN" href="/game/mahjong-fletan.html"><img src="/img/game/1l.jpg" alt="MAHJONG FLETAN" width="100" height="100" /><br />MAHJONG FLETAN</a></div>
			<div class="thmb"><a title="MAHJONG DOS POSOS" href="/game/mahjong-dos-posos.html"><img src="/img/game/2l.jpg" alt="MAHJONG DOS POSOS" width="100" height="100" /><br />MAHJONG DOS POSOS</a></div>
			<div class="cb"></div>
			<div class="hr_r"><a title="All TOP games" href="/top-games/">TOP games</a></div>
			<p></p><p></p>
			<h2>BE ONLINE WHEN PLAYING GAME</h2>
			<div class="descf">
			<p>Often each of us faces challenges at work. Few people have thought about this, but many of them can be solved with the help of <b>online games</b>. Laying out a game of solitaire or Mahjong, solving the quest or shooting the ball, or shifting their attention to the game of any other genre, you can get away from the haunting thoughts, to temporarily stop thinking about them. Such a distraction, no doubt, will have a beneficial effect on your general condition and performance.</p>
			<p>In addition, short gameplay presented on our website stories, will not make you completely retire from the business. While playing, you will continue to solve current tasks in the background mode somewhere deep inside of your mind and, believe us, will benefit from this. Many visitors are positive about the unloading of the brain with the help of a short game. Just try, play a game staying online! Exploring the game catalog above, new ones section or most popular top games desk, you can find a best one special for your current state.</p>
			</div>
			</div>
		</div>
	</div>

	<div id="footer">
		<img src="/img/x-jgs.png" alt="X-juegos" class="lg1" width="50" height="31" /><div class="cnt">
<!--
GA code here
<script>
</script>
-->
</div>
<p><a title="Free Online Games" href="/">Free Online Games</a>. Every day and every night we offer you to play for free, adding new games and entertainment for your enjoyment. You are welcome 24 hours a day, and we are hoping to cheer you up.</p>
	</div>
</div>
</body>
</html>